:root {
    --bg-color:#D9EDBF;
    --primary-color: #FF9800;
    --secundary-color:#2C7865;
    --third-color:#90D26D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: "Varela Round", sans-serif; 
}

body {
    background-image: url(static/img/green.jpg);
}


nav {
    background-image: none;
    background-color: rgba(44, 120, 101, 1);
    font-size: 1.3vw;
    text-align: left;
    color: #2C7865;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 18px;
    margin-bottom: 35px; 
    display: block;
}

section {
    background-color:#c4760022;
    text-align: center;
    align-items: center;
    padding: 30px 0;
    margin: auto;
    width: 450px;
    height: 450px;
    border-radius: 10px;
    box-shadow:2px 2px 5px #2C7865;
    animation: fadeIn 1.1s ease;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    filter: blur(20px);}
    10% {opacity: 1;
        filter: brightness(1) blur(10px);}
}

h2 { 
    padding: 0 0 20px 0;
    
    font-size: 50px;
    color: var(--primary-color);
    text-shadow: 2px 2px  #2C7865;
}

h5 {
    color: #235e4f;
    padding: 0 0 20px 0;
}

input:not(.boton), select {
    background-color: var(--bg-color);
    border: 2px solid var(--secundary-color);
    border-radius: 50px;
    margin-bottom: 20px;
    padding: 0px 20px ;
    font-family: "Varela Round", sans-serif;
    cursor: pointer;
    width: 80%;
    height: 50px;
}

.boton {
    background-color: #FF9800;
    border-radius: 8px;
    border: 2px solid var(--secundary-color);
    font-size: 1.8vw;
    color: #235e4f;
    cursor: pointer;
    transition: 0.5s;
    object-fit: cover;
    overflow: hidden;
    width: 50%;
    height: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    
}

:hover.boton {
    background-color: var(--bg-color);
    color: #FF9800;
    border: none;
    transform: scale(1.2);
}

h3 {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 15px;
    color: #235e4f;
}

h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 15px;
    color: #235e4f;
    cursor: pointer;
}

:hover.new-password {
    color: #FF9800;
    text-shadow: 1px 1px 1px #113029;
}

h1 {
    width: 145px;
    height: 50px;
    margin-top: 5px;
}
.logo-cac {
    width: 80%;
    height: 80%;
    transition: 0.5s;
    object-fit: cover;
    cursor: pointer;
    animation: fadeIn 1.1s ease;
}

:hover.logo-cac {
    transform: scale(1.2);
}