.varela-round-regular {
  font-family: "Varela Round", sans-serif;
  font-weight: 400;
  font-style: normal;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
  
}
body{
  background: linear-gradient(to top , #00000029,#00000038),url(static/img/fondoverdeondas.jpg);
  
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
}
/*  HEADER DYSPLAY DE ESCRITORIO */
.header {
  background-color:#3fa85941;
  color: whitesmoke;
  height: 10vh;
  position: sticky;
  top: 0;
  z-index: 10;
}
.navegacion {
  display: flex;
  justify-content:space-between;
  align-items: center;
  margin-right: 20px;
  padding: 0.7rem 20px;
  
}
.linkLogo img{
    transition: 0.5s;
    cursor: pointer;
    animation: fade In 1.1s ease;
}
.linkLogo img:hover{
  border-radius: 5px;
  box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.3);
  transform: scale(1.2);

}
.listaNav{
    list-style: none;
    display: flex;
    align-items: center;
}
.listaItem{
  margin-right: 22px;
}
.linkNav{
  text-decoration: none;
  color: #D9EDBF;
  font-weight: 300;
  font-size: 1.1rem;
  padding: 0.4rem 0.4rem;
}
.linkNav:hover{
  background-color: #D9EDBF;
  color:#2C7865;
  transform: scale(0.95);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: ease 0.5s;
  cursor: pointer;
}
.linkNavInicioSesion{
  font-weight: 300;
  text-decoration: none;
  padding: 0.4rem 0.4rem;
  background-color: #D9EDBF ;
  color: #2C7865;
  border-radius: 3px;
}
.linkNavInicioSesion:hover{
  background-color: #FF9800;
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: ease 0.5s;
}
      
  /*MAIN ESCRITORIO*/
    .sectionPrincipal{
      color: #D9EDBF;
      background:linear-gradient(to bottom, #00000029, #00000000);
      background-size: cover;
      background-position: center;
      height: 90vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      position: relative;
      transition: ease-in-out 0.8s;
    }
    .sectionPrincipal .video{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      /* esto hace que no tape las letras */
      z-index: -1;

    }
    .tituloSection{
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 1rem;
      text-shadow: 5px 5px 10px black;
      text-align: center;
    }

    .tituloPrincipal{
      font-size: 4rem;
      font-weight: 700;
      text-shadow: 2px 2px 2px black;
      margin-bottom: 1rem;
      transition: ease 0.8s;
      
    }
    .tituloPrincipal:hover{
      color: transparent;
      text-shadow: 2px 2px 2px rgba(255, 123, 0, 0.458);
      -webkit-text-stroke: 0.1px #FF9800;
      transition: ease-in-out 0.8s;
      
    }
    .subtituloPrincipal{
      font-size: 1.7rem;
      font-weight: 100;
      text-shadow: 2px 2px 2px black;
      margin-bottom: 1rem;
      transition: ease 0.8s;
    } 
    .botonRegistrarse{
      background-color: #D9EDBF;
      color: #2C7865;
      padding: 0.9rem 1.3rem;
      border-radius: 30px;
      border: 1px solid #D9EDBF;
      font-size: 1.3rem;
      font-weight: 700;
      text-decoration: none;
      transition: ease 0.8s;
      
    }
    .botonRegistrarse:hover{
      background-color: transparent;
      border:1px solid #FF9800;
      color: #FF9800;
      transition: ease-in-out 0.4s;
      box-shadow: 0 0 10px rgba(227, 137, 18, 0.3);
    }
    
    /* BUSCADOR */
  .buscadorPrincipal{
    background: linear-gradient(to  bottom , #0000004d,#00000066) ,url(static/img/Paper\ Airplanes\ in\ Orange\ -\ Small.jpg);
    color: #D9EDBF;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .buscador{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  .inputBuscador{
    color: #02533e;
    border: 5px solid #73a516;
    border-radius: 25px;
    background-color: #D9EDBF;
    outline: none;
    font-size: 1.5rem;
    height: 50px;
    width: 500px;
    margin: 20px 0px;
    text-align:center;
    padding: 10px;
  }
  .inputBuscador::placeholder{
    color: #2C7865;
  }
  .inputBuscador:focus::placeholder{
    color: transparent;
  }
  .botonBuscador{
    background-color: #D9EDBF;
    color: #2C7865;
    outline: none;
    display: inline-block;
    height: 50px;
    margin: 20px 10px;
    padding:10px 10px;
    border-radius: 25px;
    font-size: 1.1rem;
    font-weight: 700;
    border: 5px solid #73a516;
    text-align: center;
  }
  .botonBuscador:hover{
    transition: ease-in-out 0.4s;
    box-shadow: 0 0 10px #D9EDBF;
  }
  hr{
    border-color: #73a516;
  }

  /* SERVICIOS */
.serviciosContainer{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 40px;
}
.serviciosContainer .tituloSection{
  font-size: 2.5rem;
  font-weight: 700;
  padding: 1rem;
  margin-top: 40px;
  margin-bottom: 40px;
  color: #D9EDBF;
}
.serviciosCards{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(100px,auto));
  gap: 25px;
  align-items: center;
  text-align: center;
  text-shadow: 5px 5px 9px black;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom:10px;
}
.container-box{
  border: 1px solid #D9EDBF;
  border-radius: 5px;
  padding: 50px 10px;
  transition: all 0.7s ease 0s;
}
.container-image img{
  height: 110px;
  width: 110px;
  padding: 10px;
  margin-bottom: 15px;
}
.container-box h4{
  font-size: 20px;
  margin-bottom: 5px;
  font-weight: 550;
}
.container-box p{
  font-size: 15px;
  color: whitesmoke;
}
.container-box:hover{
  background: linear-gradient(to  bottom , #00000002,#00000088) ,url(static/img/Paper\ Airplanes\ in\ Orange\ -\ Small.jpg);
  color: #D9EDBF;
  transition: ease 0.6s;
  transform:translate(3px);
  box-shadow: 5px 20px 50px rgba(27, 27, 27, 0.467);
  border: none;
  border-radius: 3px;
  cursor:pointer;
}

/* PAQUETES */

.paquetesContainer{
  padding: 1px 5px;
}

.paquetesContainer .tituloSection{
  color: #D9EDBF;
  margin-top: 30px;
  margin-bottom: 35px;
}
.box{
  margin-bottom: 30px;
  background-color: #02533d58;
  padding: 30px 30px;
  border-radius: 30px;
}
.paquetesContainer h4{
  margin-top: 10px;
  margin-bottom: 40px;
  text-align: center;
  color: #D9EDBF;
  font-size: 20px;
  font-weight: 300;
  text-shadow: 5px 5px 10px black;
}

.paquetesCards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}
.image{
  position: relative;
  transition: all 0.3s cubic-bezier(0.445,0.05,0.55,0.95);
  cursor: pointer;
  filter: brightness(95%);
  
}
.image img{
  width: 100%;
  height: 500px;
  border-radius: 30px;
}
.image:hover{
  filter: brightness(120%);
  transform: scale(1.03);
}
.image h3{
  color: #D9EDBF;
  position: absolute;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  top: 10px;
  right: 20px;
}
.paqueteInfo{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;
  margin-bottom: 20px;
}
.nombrePaquete h4{
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 2px;
}
.descPaquete li{
  font-size: 19px;
  color: #D9EDBF;
  margin-left: 65px;
  margin-bottom: 2px;
  list-style-type: disc;
}
/* FOOTER ESCRITORIO*/
.footer{
  background-color: #73a5169a;
  color: #D9EDBF;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.navFooter{
  list-style: none;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

/* DISPLAY CELULAR Y TABLET */
@media (max-width: 768px) {
  /* BODY */ 
    /* Esconde la barra de navegacion para Chrome, Safari y Opera */
.body:-webkit-scrollbar {
  display: none;
}
/* Esconde la barra de navegacion para IE, Edge y Firefox */
.body {
  -ms-overflow-style: none;  /* IE y Edge */
  scrollbar-width: none;  /* Firefox */

  }
 /* HEADER */
  .header{
    height: initial;
  }
  .navegacion{
    margin-left:30px;
    margin-right: 0px;
    flex-direction: column;
    row-gap: 1px;
   }  
  .logo{
     font-size: 1.3rem;
     font-weight:700;
     margin-right: 44px;
  }
  .listaNav{
    padding:initial;
  }
   .listaItem .linkNav{
    font-weight: 400;
    margin-right: initial;
    font-size: 1rem;
   padding: 0.3rem;   
  } 
  .linkNavInicioSesion{
    display: flex;
    padding: 0.3rem 0.3rem;

  }
  /* MAIN */
  .tituloSection{
    font-size: 25px;
  }
  .sectionPrincipal{
    height:60vh;
  }
  .tituloPrincipal{
    font-size: 30px;
  }
  .subtituloPrincipal{
    font-size: 14px;
  }
  .botonRegistrarse{
    padding: 10px 10px;
    font-size: 15px;
  }
  .buscadorPrincipal{
    height: 30vh;
  }
  .buscador{
    margin-left: 18px;
    margin-right: 0;
    font-size: 1rem;
    height: 40px;
    width: 300px;
  }
  .inputBuscador{
    font-size: 1rem;
    height: 40px;
    width: 300px;
  }
  .botonBuscador{
    height: 40px;
    padding: 0 5px;
    font-size: 13px;
  }
  .serviciosContainer{
    width: 95%;
  }
  .serviciosContainer .tituloSection{
    font-size: 25px;
  }
  .serviciosCards{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container-box{
    width: 100%;
    height: 100%;
    background:linear-gradient(to right bottom , #00000002,#0000003a) ,url(static/img/Paper\ Airplanes\ in\ Orange\ -\ Small.jpg);
    color: #D9EDBF;
    border: none;
    
  }
  .container-box h4{
    font-size: 16px;
  }
  .container-box p{
    font-size: 13px;
  }
  .container-image img{
    align-items: center;
    height: 85px;
    width: 85px;
  }
  /* PAQUETES */
  .paquetesContainer .tituloSection{
    font-size: 25px;
  }
  .paquetesContainer h4{
    font-size: 17px;
  }
  .paquetesContainer{
    width: 95%;
  }
  .box{
    width: 90%;
    height: 50%;
    font-size: 15px;
    margin-left: 20px;
  }
  .box img{
    height: 50%;
  }
  .image h3{
    font-size: 25px;
  }
  .nombrePaquete h4{
    text-align: center;
    justify-content: center;
    margin-bottom: 15px;
  }
  .descPaquete li{
    font-size: 13px;
    
    margin-left: 15px;
    
  }
  /* FOOTER */
  .footer{
    height: initial;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .footer .listaNav{
    flex-direction: column;
    row-gap: 5px;
  }
  .footer .linkNav{
    font-size: 12px;
  }
 }
  